// User variables:
$accent: #a47e67
$text: #000
$font-A: "AlegreyaSans", sans-serif
$font-S: "Spectral", sans-serif

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px
$gutter: $grid-gutter-width

// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss
$grid-breakpoints: (xs: 0, sm: 500px, md: 770px, lg: 1024px, xl: 1280px)
